name: Build Windows EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install PyInstaller
        run: python -m pip install --upgrade pip pyinstaller

      - name: Build EXE
        run: pyinstaller --noconsole --onefile "game.py" --add-data "splash.png;." --add-data "bg.png;." --add-data "hero.png;." --add-data "start_btn.png;." --add-data "continue_btn.png;." --add-data "back_btn.png;." --add-data "home_btn.png;." --add-data "exit_btn.png;." --add-data "win_bg.png;." --add-data "lose_bg.png;."


      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: cyberhero-game
          path: dist/*.exe
